.cont-title{
  font-family: var(--cursiva);
  color: rgb(64 25 112);
  font-size: 40px;
  font-weight: bold;
}
.cont{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.cont-item{
  width: 90px;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--morado);
  border-radius: 50%;
}
.cont-item p{
  font-size: 28px;
  color: #fff;
}
.cont-item span{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color:#fff;
}