/*R E P R O D U C T O R */
.reproductor audio{
  width: 150px;
}
/* H E A D E R */

.header{
  margin-top:40px ;
}

.header-image img{
  width: 400px;
  height: 450px;
}
.frase{
  margin: 30px 0 35px 0 ;
  
}

.frase-text{
  text-align: center;
  font-family:var(--cursiva);
  font-size: 25px;
  font-weight: bold;
}
.header-img{
  width: 100%;
  height: 0;
  padding-top: 130%;
  background-image: url('../../public/img/header.png');
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: 768px) {
  .header{
    margin-top: 20px;
  }
  .header-img{
    width: 60%;
    padding-top: 80%;
  }
}

/*D A T O S*/

.datos{
  margin-top: 50px;
}
.datos-nombre-nb{
  font-family: var(--cursiva);
  font-size: 50px;
  text-align: center;
}
.datos-nombre-b,
.datos-nombre-g{
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  line-height:.8 ;
}
.datos-nombre-g{
  font-size: 65px;
}
.datos-nombre-g span{
  font-family: var(--cursiva);
  text-transform: uppercase;
}

.datos-fecha{
  margin-top: 100px;
}
.datos-fecha-title{
  font-family: var(--cursiva);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.datos-fecha_div{
  display: flex;
  
}
.datos-fecha_div p{
  display: block;
  font-size: 38px;
  border-right: var(--morado) solid;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.datos-fecha_div p:last-child{
  border:none;
}
@media (min-width: 768px) {
  .datos-fecha_div p{
    font-size: 60px;
  } 
}


/*C O N T A D O R*/
.countDown{
  margin: 60px 0;
  padding: 20px;
  width: 100%;
}
.cont{
  position: relative;
}
.cont::before{
  content: "";
  position: absolute;
  top: 110%;
  bottom: -40%;
  left: 50%;
  border-left: 1px solid var(--morado);
}

/*U B I C A C I O N */
.ubicaciones{
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ubicaciones-title img{
  width: 30px;
}

.ubicaciones-title h3{
  font-family: var(--cursiva);
  font-size: 40px;
  font-weight: bold;
}

.ubicaciones-cards{
  width: 95%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.ubicaciones-card_card{
  width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}
.card-title{
  font-family: var(--cursiva);
  font-size: 35px;
  font-weight: normal;
}
.ubicaciones-card_card img{
  width: 90px;
}
.card-hora{
  font-weight: bold;
  font-size: 30px;
}
.card-section{
  margin-top: 15px;
}
.card-nombre{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}
.card-contenido{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-top:10px ;
}
.card-from{
  font-family: var(--cursiva);
  text-align: center;
  font-size: 18px;
}

.card-button{
  margin-top: 20px;
}

.card-button button{
  background-color:rgb(64 25 112) ;
  
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 20px;
}


.card-button a{
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.linea{
  margin-top: 50px;
  width: 100%;
  height: 30px;
  position: relative;
}
.linea::before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: -300%;
  left: 50%;
  border-left: 1px solid var(--morado);
}

@media (min-width: 768px) {
  .ubicaciones-cards{
    flex-direction: row;
  }
  .ubicaciones-card_card:last-child{
    padding: 45px;
  }
}




/*C O N F I R M A C I O N */

.confirmar{
  width: 90%;
  margin: 100px 0;
}
.confirmar-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmar-title img{
  width: 30px;
}

.confirmar-title h2{
  font-family: var(--cursiva);
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: rgb(64 25 112);
}
.confirmar-card{
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;

}
.confirmar-card p{
  width: 80%;
  font-size: 26px;
  color: rgb(64 25 112);
  font-weight: bold;
  text-transform: uppercase;
}
.confirmar-border{
  width: 90%;
  padding: 20px;
  border-top: rgb(64 25 112) solid thin;
  border-bottom: rgb(64 25 112) solid thin;

}
.confirmar-border img{
  width: 40px;
}
.confirmar-whats{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmar-whats p{
  font-size: 22px;
}
.confirmar-card button{
  background-color:rgb(64 25 112) ;
  
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 20px;
  
}
.confirmar-card button a{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

/*P R O T O C O L O */

.protocolo-img img{
  width: 400px;
}

/* L U G A R E S   R E S E R V A D O S */

.lugares{
  margin: 50px 0;
}

.lugares-arriba{
  font-family: var(--cursiva);
  font-size: 45px;
  color:rgb(64 25 112) ;
  text-align: center;
  font-weight: bold;
}

.reserv-numero{
  width: 100%;
  height: 350px;
  background-image: url('../../public/img/flor3.png');
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.lugares p{

  font-size: 200px;  
  text-align: center;
  font-weight: bold;
  color:rgb(64 25 112)
}
.lugares-abajo{
  color:rgb(64 25 112);
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.lugares-leyenda{
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}